# Iris Species Analysis with Grouping & Aggregation in Pandas

### Grouping & Aggregation

In [2]:
import pandas as pd

In [3]:
# Load the Iris dataset.
df=pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv")
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
df.shape

(150, 5)

In [5]:
# Group by species and find the mean of each numeric column.

df.groupby('species').mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [6]:
# Group by species and find the max of each numeric column.
df.groupby('species').max()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa               5.8          4.4           1.9          0.6
versicolor           7.0          3.4           5.1          1.8
virginica            7.9          3.8           6.9          2.5

In [7]:
# Group by species and get the count of rows.

df.groupby('species').size()

species
setosa        50
versicolor    50
virginica     50
dtype: int64

In [10]:
# Get the standard deviation of petal_length for each species.

df.groupby('species')['petal_length'].std()

species
setosa        0.173664
versicolor    0.469911
virginica     0.551895
Name: petal_length, dtype: float64

In [14]:
# Create a DataFrame showing only the mean sepal_length by species.
df.groupby('species')[['sepal_length']].mean()

            sepal_length
species
setosa             5.006
versicolor         5.936
virginica          6.588

In [16]:
# Create a summary table using .agg() to show mean, min, max for all columns grouped by species.

df.groupby('species').agg(['mean','min','max'])

           sepal_length           sepal_width           petal_length       \
                   mean  min  max        mean  min  max         mean  min
species
setosa            5.006  4.3  5.8       3.428  2.3  4.4        1.462  1.0
versicolor        5.936  4.9  7.0       2.770  2.0  3.4        4.260  3.0
virginica         6.588  4.9  7.9       2.974  2.2  3.8        5.552  4.5

                petal_width
            max        mean  min  max
species
setosa      1.9       0.246  0.1  0.6
versicolor  5.1       1.326  1.0  1.8
virginica   6.9       2.026  1.4  2.5

In [18]:
# Use describe() after grouping by species.

df.groupby('species').describe()

           sepal_length                                              \
                  count   mean       std  min    25%  50%  75%  max
species
setosa             50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
versicolor         50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
virginica          50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

           sepal_width         ... petal_length      petal_width         \
                 count   mean  ...          75%  max       count   mean
species                        ...
setosa            50.0  3.428  ...        1.575  1.9        50.0  0.246
versicolor        50.0  2.770  ...        4.600  5.1        50.0  1.326
virginica         50.0  2.974  ...        5.875  6.9        50.0  2.026


                 std  min  25%  50%  75%  max
species
setosa      0.105386  0.1  0.2  0.2  0.3  0.6
versicolor  0.197753  1.0  1.2  1.3  1.5  1.8
virginica   0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]

In [24]:
# Sort the groups by average sepal_width.
df.groupby('species')['sepal_width'].mean().sort_values()

species
versicolor    2.770
virginica     2.974
setosa        3.428
Name: sepal_width, dtype: float64

In [28]:
# Get the species with the highest average petal_width.

df.groupby('species')['petal_width'].mean().idxmax()

'virginica'

In [ ]:


ðŸ§© MultiIndex & Reshaping
Create a pivot table with species as index, and mean of each measurement as values.

Stack the pivoted DataFrame.

Unstack the stacked DataFrame.

Use .melt() to unpivot the DataFrame.

Rename columns during melt: make 'variable' to 'Feature', and 'value' to 'Measurement'.

Create a MultiIndex from species and bin of sepal_length.

Use .reset_index() to flatten a MultiIndex.

Use .set_index() to set species and sepal_width as the index.

Swap the levels of a MultiIndex.

Sort the MultiIndex.

SyntaxError: invalid character 'ðŸ§©' (U+1F9E9) (3660326297.py, line 13)