# Iris Species Analysis with Grouping & Aggregation in Pandas

### Grouping & Aggregation

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load the Iris dataset.
df=pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv")
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [3]:
df.shape

(150, 5)

In [4]:
# Group by species and find the mean of each numeric column.

df.groupby('species').mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [5]:
# Group by species and find the max of each numeric column.
df.groupby('species').max()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa               5.8          4.4           1.9          0.6
versicolor           7.0          3.4           5.1          1.8
virginica            7.9          3.8           6.9          2.5

In [6]:
# Group by species and get the count of rows.

df.groupby('species').size()

species
setosa        50
versicolor    50
virginica     50
dtype: int64

In [7]:
# Get the standard deviation of petal_length for each species.

df.groupby('species')['petal_length'].std()

species
setosa        0.173664
versicolor    0.469911
virginica     0.551895
Name: petal_length, dtype: float64

In [8]:
# Create a DataFrame showing only the mean sepal_length by species.
df.groupby('species')[['sepal_length']].mean()

            sepal_length
species
setosa             5.006
versicolor         5.936
virginica          6.588

In [9]:
# Create a summary table using .agg() to show mean, min, max for all columns grouped by species.

df.groupby('species').agg(['mean','min','max'])

           sepal_length           sepal_width           petal_length       \
                   mean  min  max        mean  min  max         mean  min
species
setosa            5.006  4.3  5.8       3.428  2.3  4.4        1.462  1.0
versicolor        5.936  4.9  7.0       2.770  2.0  3.4        4.260  3.0
virginica         6.588  4.9  7.9       2.974  2.2  3.8        5.552  4.5

                petal_width
            max        mean  min  max
species
setosa      1.9       0.246  0.1  0.6
versicolor  5.1       1.326  1.0  1.8
virginica   6.9       2.026  1.4  2.5

In [10]:
# Use describe() after grouping by species.

df.groupby('species').describe()

           sepal_length                                              \
                  count   mean       std  min    25%  50%  75%  max
species
setosa             50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
versicolor         50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
virginica          50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

           sepal_width         ... petal_length      petal_width         \
                 count   mean  ...          75%  max       count   mean
species                        ...
setosa            50.0  3.428  ...        1.575  1.9        50.0  0.246
versicolor        50.0  2.770  ...        4.600  5.1        50.0  1.326
virginica         50.0  2.974  ...        5.875  6.9        50.0  2.026


                 std  min  25%  50%  75%  max
species
setosa      0.105386  0.1  0.2  0.2  0.3  0.6
versicolor  0.197753  1.0  1.2  1.3  1.5  1.8
virginica   0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]

In [11]:
# Sort the groups by average sepal_width.
df.groupby('species')['sepal_width'].mean().sort_values()

species
versicolor    2.770
virginica     2.974
setosa        3.428
Name: sepal_width, dtype: float64

In [12]:
# Get the species with the highest average petal_width.

df.groupby('species')['petal_width'].mean().idxmax()

'virginica'

###  MultiIndex & Reshaping

In [13]:

# Create a pivot table with species as index, and mean of each measurement as values.
pivottab=df.pivot_table(index='species',aggfunc='mean')

pivottab

            petal_length  petal_width  sepal_length  sepal_width
species
setosa             1.462        0.246         5.006        3.428
versicolor         4.260        1.326         5.936        2.770
virginica          5.552        2.026         6.588        2.974

In [14]:
# stack the pivoted DataFrame.

stck=pivottab.stack()
stck

species
setosa      petal_length    1.462
            petal_width     0.246
            sepal_length    5.006
            sepal_width     3.428
versicolor  petal_length    4.260
            petal_width     1.326
            sepal_length    5.936
            sepal_width     2.770
virginica   petal_length    5.552
            petal_width     2.026
            sepal_length    6.588
            sepal_width     2.974
dtype: float64

In [15]:
# Unstack the stacked DataFrame.
stck.unstack()

            petal_length  petal_width  sepal_length  sepal_width
species
setosa             1.462        0.246         5.006        3.428
versicolor         4.260        1.326         5.936        2.770
virginica          5.552        2.026         6.588        2.974

In [16]:
# Use .melt() to unpivot the DataFrame.

melted=df.melt(id_vars='species')
melted.head()

  species      variable  value
0  setosa  sepal_length    5.1
1  setosa  sepal_length    4.9
2  setosa  sepal_length    4.7
3  setosa  sepal_length    4.6
4  setosa  sepal_length    5.0

In [17]:
# Rename columns during melt: make 'variable' to 'Feature', and 'value' to 'Measurement'.

melted_renamed = df.melt(id_vars='species', var_name='Feature', value_name='Measurement')
melted_renamed.head()

  species       Feature  Measurement
0  setosa  sepal_length          5.1
1  setosa  sepal_length          4.9
2  setosa  sepal_length          4.7
3  setosa  sepal_length          4.6
4  setosa  sepal_length          5.0

In [18]:
# Create a MultiIndex from species and bin of sepal_length.

df['sepal_bin']=pd.cut(df['sepal_length'],bins=3)

mul_index=df.set_index(['species','sepal_bin'])
mul_index.head()

                      sepal_length  sepal_width  petal_length  petal_width
species sepal_bin
setosa  (4.296, 5.5]           5.1          3.5           1.4          0.2
        (4.296, 5.5]           4.9          3.0           1.4          0.2
        (4.296, 5.5]           4.7          3.2           1.3          0.2
        (4.296, 5.5]           4.6          3.1           1.5          0.2
        (4.296, 5.5]           5.0          3.6           1.4          0.2

In [19]:
# Use .reset_index() to flatten a MultiIndex.

mul_index.reset_index().head()

  species     sepal_bin  sepal_length  sepal_width  petal_length  petal_width
0  setosa  (4.296, 5.5]           5.1          3.5           1.4          0.2
1  setosa  (4.296, 5.5]           4.9          3.0           1.4          0.2
2  setosa  (4.296, 5.5]           4.7          3.2           1.3          0.2
3  setosa  (4.296, 5.5]           4.6          3.1           1.5          0.2
4  setosa  (4.296, 5.5]           5.0          3.6           1.4          0.2

In [20]:
# Use .set_index() to set species and sepal_width as the index.
indexed = df.set_index(['species', 'sepal_width'])
indexed.head()

                     sepal_length  petal_length  petal_width     sepal_bin
species sepal_width
setosa  3.5                   5.1           1.4          0.2  (4.296, 5.5]
        3.0                   4.9           1.4          0.2  (4.296, 5.5]
        3.2                   4.7           1.3          0.2  (4.296, 5.5]
        3.1                   4.6           1.5          0.2  (4.296, 5.5]
        3.6                   5.0           1.4          0.2  (4.296, 5.5]

In [21]:
# Swap the levels of a MultiIndex.

swapped=mul_index.swaplevel()

swapped.head()

                      sepal_length  sepal_width  petal_length  petal_width
sepal_bin    species
(4.296, 5.5] setosa            5.1          3.5           1.4          0.2
             setosa            4.9          3.0           1.4          0.2
             setosa            4.7          3.2           1.3          0.2
             setosa            4.6          3.1           1.5          0.2
             setosa            5.0          3.6           1.4          0.2

In [22]:
# Sort the MultiIndex.
sorted_multi = mul_index.sort_index()
sorted_multi.head()

                      sepal_length  sepal_width  petal_length  petal_width
species sepal_bin
setosa  (4.296, 5.5]           5.1          3.5           1.4          0.2
        (4.296, 5.5]           4.9          3.0           1.4          0.2
        (4.296, 5.5]           4.7          3.2           1.3          0.2
        (4.296, 5.5]           4.6          3.1           1.5          0.2
        (4.296, 5.5]           5.0          3.6           1.4          0.2

### Advanced Filtering

In [23]:
# Filter rows where sepal_length > 5 and petal_length < 2.

df[(df['sepal_length']> 5) & (df['petal_length'] < 2)]

    sepal_length  sepal_width  petal_length  petal_width species     sepal_bin
0            5.1          3.5           1.4          0.2  setosa  (4.296, 5.5]
5            5.4          3.9           1.7          0.4  setosa  (4.296, 5.5]
10           5.4          3.7           1.5          0.2  setosa  (4.296, 5.5]
14           5.8          4.0           1.2          0.2  setosa    (5.5, 6.7]
15           5.7          4.4           1.5          0.4  setosa    (5.5, 6.7]
16           5.4          3.9           1.3          0.4  setosa  (4.296, 5.5]
17           5.1          3.5           1.4          0.3  setosa  (4.296, 5.5]
18           5.7          3.8           1.7          0.3  setosa    (5.5, 6.7]
19           5.1          3.8           1.5          0.3  setosa  (4.296, 5.5]
20           5.4          3.4           1.7          0.2  setosa  (4.296, 5.5]
21           5.1          3.7           1.5          0.4  setosa  (4.296, 5.5]
23           5.1          3.3           1.7          0.5  setosa  (4.296, 5.5]
27           5.2          3.5           1.5          0.2  setosa  (4.296, 5.5]
28           5.2          3.4           1.4          0.2  setosa  (4.296, 5.5]
31           5.4          3.4           1.5          0.4  setosa  (4.296, 5.5]
32           5.2          4.1           1.5          0.1  setosa  (4.296, 5.5]
33           5.5          4.2           1.4          0.2  setosa  (4.296, 5.5]
36           5.5          3.5           1.3          0.2  setosa  (4.296, 5.5]
39           5.1          3.4           1.5          0.2  setosa  (4.296, 5.5]
44           5.1          3.8           1.9          0.4  setosa  (4.296, 5.5]
46           5.1          3.8           1.6          0.2  setosa  (4.296, 5.5]
48           5.3          3.7           1.5          0.2  setosa  (4.296, 5.5]

In [24]:
# Filter for species "setosa" with petal_width > 0.2.

df[(df['species'] == 'setosa') & (df['petal_width'] > 0.2)]

    sepal_length  sepal_width  petal_length  petal_width species     sepal_bin
5            5.4          3.9           1.7          0.4  setosa  (4.296, 5.5]
6            4.6          3.4           1.4          0.3  setosa  (4.296, 5.5]
15           5.7          4.4           1.5          0.4  setosa    (5.5, 6.7]
16           5.4          3.9           1.3          0.4  setosa  (4.296, 5.5]
17           5.1          3.5           1.4          0.3  setosa  (4.296, 5.5]
18           5.7          3.8           1.7          0.3  setosa    (5.5, 6.7]
19           5.1          3.8           1.5          0.3  setosa  (4.296, 5.5]
21           5.1          3.7           1.5          0.4  setosa  (4.296, 5.5]
23           5.1          3.3           1.7          0.5  setosa  (4.296, 5.5]
26           5.0          3.4           1.6          0.4  setosa  (4.296, 5.5]
31           5.4          3.4           1.5          0.4  setosa  (4.296, 5.5]
40           5.0          3.5           1.3          0.3  setosa  (4.296, 5.5]
41           4.5          2.3           1.3          0.3  setosa  (4.296, 5.5]
43           5.0          3.5           1.6          0.6  setosa  (4.296, 5.5]
44           5.1          3.8           1.9          0.4  setosa  (4.296, 5.5]
45           4.8          3.0           1.4          0.3  setosa  (4.296, 5.5]

In [25]:
# Select rows where species is not "virginica".

df[df['species']!='virginica']

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_bin
0,5.1,3.5,1.4,0.2,setosa,"(4.296, 5.5]"
1,4.9,3.0,1.4,0.2,setosa,"(4.296, 5.5]"
2,4.7,3.2,1.3,0.2,setosa,"(4.296, 5.5]"
3,4.6,3.1,1.5,0.2,setosa,"(4.296, 5.5]"
4,5.0,3.6,1.4,0.2,setosa,"(4.296, 5.5]"
...,...,...,...,...,...,...
95,5.7,3.0,4.2,1.2,versicolor,"(5.5, 6.7]"
96,5.7,2.9,4.2,1.3,versicolor,"(5.5, 6.7]"
97,6.2,2.9,4.3,1.3,versicolor,"(5.5, 6.7]"
98,5.1,2.5,3.0,1.1,versicolor,"(4.296, 5.5]"
99,5.7,2.8,4.1,1.3,versicolor,"(5.5, 6.7]"

In [26]:
# Use .query() to filter rows where sepal_width > 3.

df.query('sepal_width > 3')

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_bin
0,5.1,3.5,1.4,0.2,setosa,"(4.296, 5.5]"
2,4.7,3.2,1.3,0.2,setosa,"(4.296, 5.5]"
3,4.6,3.1,1.5,0.2,setosa,"(4.296, 5.5]"
4,5.0,3.6,1.4,0.2,setosa,"(4.296, 5.5]"
5,5.4,3.9,1.7,0.4,setosa,"(4.296, 5.5]"
...,...,...,...,...,...,...
140,6.7,3.1,5.6,2.4,virginica,"(5.5, 6.7]"
141,6.9,3.1,5.1,2.3,virginica,"(6.7, 7.9]"
143,6.8,3.2,5.9,2.3,virginica,"(6.7, 7.9]"
144,6.7,3.3,5.7,2.5,virginica,"(5.5, 6.7]"
148,6.2,3.4,5.4,2.3,virginica,"(5.5, 6.7]"

In [27]:
# Filter rows where any column value is greater than 6.

df[df.iloc[:,:4].gt(6).any(axis=1)]

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_bin
50,7.0,3.2,4.7,1.4,versicolor,"(6.7, 7.9]"
51,6.4,3.2,4.5,1.5,versicolor,"(5.5, 6.7]"
52,6.9,3.1,4.9,1.5,versicolor,"(6.7, 7.9]"
54,6.5,2.8,4.6,1.5,versicolor,"(5.5, 6.7]"
56,6.3,3.3,4.7,1.6,versicolor,"(5.5, 6.7]"
...,...,...,...,...,...,...
144,6.7,3.3,5.7,2.5,virginica,"(5.5, 6.7]"
145,6.7,3.0,5.2,2.3,virginica,"(5.5, 6.7]"
146,6.3,2.5,5.0,1.9,virginica,"(5.5, 6.7]"
147,6.5,3.0,5.2,2.0,virginica,"(5.5, 6.7]"
148,6.2,3.4,5.4,2.3,virginica,"(5.5, 6.7]"

### Conditional Column Creation

In [28]:
# Create a column SepalRatio = sepal_length / sepal_width.

df['SepalRatio']=df['sepal_length'] / df['sepal_width']
df.sample(3)

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_bin,SepalRatio
77,6.7,3.0,5.0,1.7,versicolor,"(5.5, 6.7]",2.233333
117,7.7,3.8,6.7,2.2,virginica,"(6.7, 7.9]",2.026316
60,5.0,2.0,3.5,1.0,versicolor,"(4.296, 5.5]",2.500000

In [31]:
# Create a column PetalCategory: 'Short' if petal_length < 3 else 'Long'.

df['PetalCategory']=np.where(df['petal_length']<3,'Short','Long')
df.sample(5)

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_bin,SepalRatio,PetalCategory
89,5.5,2.5,4.0,1.3,versicolor,"(4.296, 5.5]",2.200000,Long
96,5.7,2.9,4.2,1.3,versicolor,"(5.5, 6.7]",1.965517,Long
149,5.9,3.0,5.1,1.8,virginica,"(5.5, 6.7]",1.966667,Long
137,6.4,3.1,5.5,1.8,virginica,"(5.5, 6.7]",2.064516,Long
12,4.8,3.0,1.4,0.1,setosa,"(4.296, 5.5]",1.600000,Short

In [33]:
# Create a column IsWideSepal: True if sepal_width > 3.5.

df['IsWideSepal'] = df['sepal_width'] > 3.5
df.sample(5)

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_bin,SepalRatio,PetalCategory,IsWideSepal
92,5.8,2.6,4.0,1.2,versicolor,"(5.5, 6.7]",2.230769,Long,False
111,6.4,2.7,5.3,1.9,virginica,"(5.5, 6.7]",2.370370,Long,False
41,4.5,2.3,1.3,0.3,setosa,"(4.296, 5.5]",1.956522,Short,False
130,7.4,2.8,6.1,1.9,virginica,"(6.7, 7.9]",2.642857,Long,False
145,6.7,3.0,5.2,2.3,virginica,"(5.5, 6.7]",2.233333,Long,False

In [35]:
# Create a column SizeFlag using np.where based on petal_length > 4.

df['SizeFlag'] = np.where(df['petal_length'] > 4, 'Large', 'Small')
df.sample(5)

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_bin,SepalRatio,PetalCategory,IsWideSepal,SizeFlag
104,6.5,3.0,5.8,2.2,virginica,"(5.5, 6.7]",2.166667,Long,False,Large
17,5.1,3.5,1.4,0.3,setosa,"(4.296, 5.5]",1.457143,Short,False,Small
81,5.5,2.4,3.7,1.0,versicolor,"(4.296, 5.5]",2.291667,Long,False,Small
75,6.6,3.0,4.4,1.4,versicolor,"(5.5, 6.7]",2.200000,Long,False,Large
148,6.2,3.4,5.4,2.3,virginica,"(5.5, 6.7]",1.823529,Long,False,Large

In [37]:
# Create a column combining species and petal length using .apply().
df['SpeciesLengthTag'] = df.apply(lambda row: f"{row['species']}_{row['petal_length']}", axis=1)
df.sample(5)

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_bin,SepalRatio,PetalCategory,IsWideSepal,SizeFlag,SpeciesLengthTag
18,5.7,3.8,1.7,0.3,setosa,"(5.5, 6.7]",1.500000,Short,True,Small,setosa_1.7
24,4.8,3.4,1.9,0.2,setosa,"(4.296, 5.5]",1.411765,Short,False,Small,setosa_1.9
129,7.2,3.0,5.8,1.6,virginica,"(6.7, 7.9]",2.400000,Long,False,Large,virginica_5.8
37,4.9,3.6,1.4,0.1,setosa,"(4.296, 5.5]",1.361111,Short,True,Small,setosa_1.4
76,6.8,2.8,4.8,1.4,versicolor,"(6.7, 7.9]",2.428571,Long,False,Large,versicolor_4.8

### Ranking & Binning

In [ ]:
Rank each row by sepal_length.

In [ ]:
Bin sepal_length into 3 equal-sized bins.

In [ ]:
Bin petal_length into custom intervals: [0, 2, 4, 6].

In [ ]:
Add labels to the bins created above: ['Short', 'Medium', 'Long'].

In [ ]:
Find which bin has the most entries for petal length.

###  Value Counts & Frequencies

In [ ]:
Count how many rows each species has.

In [ ]:
Use .value_counts() on binned sepal_length.

In [ ]:
Get frequency of combinations using .groupby(['species', bin]).

In [ ]:

Use .crosstab() between species and petal length bins.

In [ ]:
Normalize .value_counts() to get proportions.